<%= link_to "Back", :back %>
<div class="panel panel-default sessions">
  <font color="#34495e"><h2>Edit <%= resource_name.to_s.humanize %></h2> </font>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= devise_error_messages! %>

    <div class="form-group">

      <div><%= f.text_field :firstName, autofocus: true, class: "form-control", placeholder: "First Name" %></div>

      <div><%= f.text_field :lastName, class: "form-control", placeholder: "Last Name" %></div>

      <div><%= f.text_field :username, class: "form-control", placeholder: "Username" %></div>

      <div><%= f.email_field :email, class: "form-control", placeholder: "Email" %></div>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %>

        <div><%= f.password_field :password, autocomplete: "off", class: "form-control", placeholder: "Current Password" %></div>
        <div><%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control", placeholder: "Confirm Password" %></div>

      <div><%= f.label :current_password, "Current Password" %><br/><i>(we need your current password to confirm your changes)</i>
        <%= f.password_field :current_password, autocomplete: "off", class: "form-control" %></div>

      <div><%= f.submit "Update", class: "btn btn-large btn-primary" %></div>
    <% end %>
  </div> <!-- .form-group -->
<font color="#bdc3c7">Unhappy? </font><%= link_to "Delete your account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %>
</div><!-- .panel.panel-default.sessions -->
