
<div class="panel panel-default sessions" >
	<div class="center">
	<font color="#34495e"><h3>Welcome to</h3>
	<h1 class="animated bounceInDown">Delishus</h1>
	</font>
	<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
	  <%= devise_error_messages! %>

	<div class="form-group animated fadeIn">
		<div><%= f.text_field :firstName, autofocus: true, class: "form-control animated fadeInLeft input_field", placeholder: "First Name" %></div>

		<div><%= f.text_field :lastName, class: "form-control animated fadeInRight input_field", placeholder: "Last Name" %></div>

		<div><%= f.text_field :username, class: "form-control animated fadeInLeft input_field", placeholder: "Username" %></div>

	  <div><%= f.email_field :email, class: "form-control animated fadeInRight input_field", placeholder: "Email" %></div>
	  
	  <div><%= f.password_field :password, autocomplete: "off", class: "form-control animated fadeInLeft input_field", placeholder: "Password" %></div>

	  <div><%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control animated fadeInRight input_field", placeholder: "Confirm Password" %></div>
	</div>		

	<div class="session_base">
		<%= f.submit "Sign Up", class: "btn btn-large sign-up" %></br>
		<font color="#bdc3c7"><%= render "devise/shared/links" %>
	</div>

	<% end %>

	
</div><!-- .center -->
</div><!-- .panel.panel-default.sessions-->