<div class="panel panel-default" >
	<h2>Sign Up</h2>

	<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
	  <%= devise_error_messages! %>

	<div class="form-group">
		<div><%= f.label :firstName, "First Name" %>
			<%= f.text_field :firstName, autofocus: true, class: "form-control", placeholder: "Eric" %></div>

		<div><%= f.label :lastName, "Last Name" %>
			<%= f.text_field :lastName, autofocus: true, class: "form-control", placeholder: "Cartman" %></div>

		<div><%= f.label :username, "Username" %>
			<%= f.text_field :username, autofocus: true, class: "form-control", placeholder: "CasaBonita4Me" %></div>

	  <div><%= f.label :email, "Email Address" %>
	  	<%= f.email_field :email, autofocus: true, class: "form-control", placeholder: "someone@example.com" %></div>
	  
	  <div><%= f.label :password %>
	    <%= f.password_field :password, autocomplete: "off", class: "form-control" %></div>

	  <div><%= f.label :password_confirmation, "Confirm Password" %>
	    <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control"%></div>

	  <div><%= f.submit "Sign Up", class: "btn btn-large btn-primary" %></div>
	</div>
	<% end %>

	<%= render "devise/shared/links" %>
</div><!-- /panel panel-default-->