<div id="homeCarousel" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#homeCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#homeCarousel" data-slide-to="1"></li>
    <li data-target="#homeCarousel" data-slide-to="2"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <div class="item active">
      <%= image_tag("cheeseBoard.jpg", :alt=>"Cheese Board") %> 
      <div class="container">
        <div class="carousel-caption">
          <h1>Welcome to <font color="#ffffff">delish.us</font></h1>
          <p>delish.us is the best place to find amazing dishes nearby</p>
          <p>
            <%= link_to "Sign Up","#", class: "btn btn-large btn-primary"%>
          </p>
        </div>
      </div><!-- /.container -->
    </div>
    <div class="item">
      <%= image_tag("dinnerTable.jpeg", :alt=>"Dinner Table") %>
      <div class="container">
        <div class="carousel-caption">
          <h1>Welcome to <font color="#ffffff">delish.us</font></h1>
          <p>delish.us is the best place to find the best food nearby</p>
          <p>
            <%= link_to "Sign Up","#", class: "btn btn-large btn-primary"%>
          </p>
        </div>
      </div><!-- /.container -->
    </div><!-- /.item -->
    <div class="item">
      <%= image_tag("moscowMule.jpg", :alt=>"Moscow Mule") %>
      <div class="container">
        <div class="carousel-caption">
          <h1>Welcome to <font color="#ffffff">delish.us</font></h1>
          <p>delish.us is the best place to find the best food nearby</p>
          <p>
            <%= link_to "Sign Up","#", class: "btn btn-large btn-primary  "%>
          </p>  
        </div>
      </div><!-- /.container -->
    </div><!-- /.item -->
  </div><!-- /.carousel-inner -->

  <!-- Controls -->
  <a class="left carousel-control" href="#homeCarousel" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <a class="right carousel-control" href="#homeCarousel" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>
</div>

<!--CUSTOM MARKETING CONTAINER-->

<div class="container marketing">
  <div class="container marketing title">
    <h2>Meet the Team</h2>
  </div>
  <div class="row">
    <div class="col-lg-6">
      <%= image_tag("Michael.jpg", :alt=>"Michael Ottavi-Brannon", :class=>"img-circle") %>
      <h2>Michael Ottavi-Brannon</h2>
      <p>Likes Bacon</p>
    </div>
    <div class="col-lg-6">
      <%= image_tag("Evan.jpg", :alt=>"Evan Hyde", :class=>"img-circle") %>
      <h2>Evan Hyde</h2>
      <p>Likes Bloody Marys</p<>
    </div>
  </div><!-- /.row-->
</div><!-- /.marketing container-->















