<!-- NAVBAR -->
  <div class="nav navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <%= link_to "Delishus", root_path, :class=>"navbar-brand"%>

          </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li>
              <%= link_to "About Us", about_path%>
            </li>
            <li>
              <%= link_to "Contact Us", contact_us_path%>
            </li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li>
              <%= link_to "Browse Dishes", dishes_path %>
            </li>
              <% if user_signed_in? %>
              <li>
                <%= link_to new_dish_path do %>
                  <span class="glyphicon glyphicon-cutlery"></span>  Add a Dish
                <% end %>
              </li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Hello <%= current_user.firstName %>!<b class="caret"></b></a>
                  <ul class="dropdown-menu dropdown-menu-right">
                    <li>
                      <%= link_to edit_user_registration_path, align: "right" do %>
                        Account Settings <span class="glyphicon glyphicon-cog"></span>
                      <% end %>
                    </li>
                    <li class="divider"></li>
                    <li>
                      <%= link_to destroy_user_session_path, align: "right", method: :delete do %>
                        Log Out <span class="glyphicon glyphicon-log-out"></span>
                      <% end %>
                    </li>
                  </ul>
              <% elsif !user_signed_in? %>
                <li><%=link_to "Log In", new_user_session_path, align: "right" %></li>
              <% end %>
            </li><!-- /dropdown -->
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </div><!-- .container -->
  </div><!-- .nav.navbar-defautl.navbar-fixed -->

  <!-- FLASH MESSAGES -->
    <% flash.each do |name, msg| %>
      <%= content_tag(:div, msg, class: "alert alert-info") %>
    <% end %>

  <!-- JQUERY CODE TO FADE ALERTS -->
    <script type="text/javascript">

      $(function() {
        $('.alert.alert-info')
        .delay(3000)
        .fadeOut(function() {
          $(this).remove();
        })
      })
    </script>
  
  </div><!-- /.container -->


<!-- CAROUSEL -->
<div id="homeCarousel" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#homeCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#homeCarousel" data-slide-to="1"></li>
    <li data-target="#homeCarousel" data-slide-to="2"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    
    <div class="item active">
      <%= image_tag("cheeseBoard.jpg", :alt=>"Cheese Board") %> 
      <div class="container">
        <div class="carousel-caption">
          <h1>Welcome to Delishus</h1>
          <p>Delishus is the easiest way to find and discover great food around you</p>
          <p>
            
             <% if user_signed_in? %>
              <%= link_to "Browse Dishes", dishes_path, class: "btn btn-large btn-primary" %>
            <% elsif %>
              <%= link_to "Sign Up", new_user_registration_path, class: "btn btn-large btn-primary  "%>
            <% end %>

          </p>
        </div><!-- /.carousel-caption -->
      </div><!-- /.container -->
    </div><!-- /.item active-->

    <div class="item">
      <%= image_tag("moscowMule.jpg", :alt=>"Moscow Mule") %>
      <div class="container">
        <div class="carousel-caption">
          <h1>Explore</h1>
          <p>Discover new favorites at restaurants new and old </p>
          <p>

            <% if user_signed_in? %>
              <%= link_to "Browse Dishes", dishes_path, class: "btn btn-large btn-primary" %>
            <% elsif %>
              <%= link_to "Sign Up", new_user_registration_path, class: "btn btn-large btn-primary  "%>
            <% end %>

          </p>  
        </div><!-- /.carousel-caption -->
      </div><!-- /.container -->
    </div><!-- /.item -->
    
    <div class="item">
      <%= image_tag("dinnerTable.jpeg", :alt=>"Dinner Table") %>
      <div class="container">
        <div class="carousel-caption">
          <h1>Just for You</h1>
          <p>Delishus works with you to learn about your tastes and make sure that every time you dine out, you order a meal you'll love</p>
          
          <p>
           <% if user_signed_in? %>
              <%= link_to "Browse Dishes", dishes_path, class: "btn btn-large btn-primary" %>
          <% else %>
            <%= link_to "Sign Up", new_user_registration_path, class: "btn btn-large btn-primary  "%>
          <% end %>
          </p>

        </div><!-- /.carousel-caption -->
      </div><!-- /.container -->
    </div><!-- /.item -->

  </div><!-- /.carousel-inner -->



  <a class="left carousel-control" href="#homeCarousel" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <a class="right carousel-control" href="#homeCarousel" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>

</div>

<!--CUSTOM MARKETING CONTAINER-->

<div class="container marketing">
  <div class="center">
    <h2>Meet the Team</h2>
  </div>
  <div class="marketing_images row">
    <div class="col-lg-6">
      <%= image_tag("Michael.jpg", alt: "Michael Ottavi-Brannon", class: "img-circle") %>
      <h2>Michael Ottavi-Brannon</h2>
      <p>Likes Bacon</p>
    </div>
    <div class="col-lg-6">
      <%= image_tag("Evan.jpg", :alt=>"Evan Hyde", :class=>"img-circle") %>
      <h2>Evan Hyde</h2>
      <p>Likes Bloody Marys</p>
    </div>
  </div><!-- /.row-->

  <hr class="featurette-divider">

  <!--CUSTOM MIDDLE CONTAINER-->
  <div class="row featurette">
    <div class="col-lg-8">
        <h1>Built Just for You</h1>
        <p>Restaurant menus can be confusing and overwhelming. Let Delishus help you find the meals you'll love</p>
    </div><!-- /.col-lg-8 -->  
  </div><!-- /.row featurette -->

  <hr class="featurette-divider">

  <!--CUSTOM MIDDLE CONTAINER-->
  <div class="row featurette">
    <div class="col-lg-8 col-lg-offset-4">
      <h1>In the Moment</h1>
      <p>What other kind of cool and creative marketing content can you come up with?</p>
    </div><!-- /.col-lg-8 -->
  </div><!-- /.row featurette -->
</div><!-- /.container marketing-->














