
<%= form_for @dish, html: { multipart: true } do |f| %>
  <% if @dish.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@dish.errors.count, "error") %> prohibited this dish from being saved:</h2>

      <ul>
      <% @dish.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="form-group">
  <div><%= f.file_field :image, class: "form-control"%></div>  
  <div><%= f.text_field :name, class: "form-control", placeholder: "Name" %></div>
  <div><%= f.text_field :description, class: "form-control", placeholder: "Tell people about this dish" %></div>
</div>

<!--If page is asking user to edit content, show different button -->
<% if current_page?(controller: 'dishes', action: "new") %>
  <div><%= f.submit "Create Dish", class: "btn btn-large" %></div>
<% elsif current_page?(controller: 'dishes', action: "edit") %>
  <div><%= f.submit "Save Changes", class: "btn btn-large" %></div>
<% end %>
<% end %>
