<div id="dishes">
  <% @dishes.each do |dish| %>
  <div class="box">
    <div class="boxTitle">
      <h4><%= dish.name %></h4>
    </div>
      <%= link_to( image_tag(dish.image.url(:medium)), dish)%>
    <div class="boxMeta">
      <%= dish.description %>
    </div> <!-- .boxMeta -->

    <% if dish.user && dish.user.firstName %>
      <div class="boxCredits">
        Created by: <%= dish.user.firstName %>
        <% if dish.user.lastName %>
          <%= dish.user.lastName[0] %>.
        <% end %>
      </div> <!-- .boxCredits -->
    <% end %>

    <% if current_user && dish.user == current_user %>
      <div class="boxOptions">
        <%= link_to edit_dish_path(dish) do %>
          <span class="glyphicon glyphicon-pencil"></span> Edit
      <% end %>

        <%= link_to dish, method: :delete, data: { confirm: 'Are you sure you want to delte this dish? You cannot undo this action.'} do %>
          <span class="glyphicon glyphicon-trash"></span> Delete
        <% end %>
      </div> <!-- .boxOptions -->
    <% end %>
  </div> <!-- .box -->
  <% end %>
</div>

<div class="text-center">
  <%= will_paginate @dishes, renderer: BootstrapPagination::Rails %>
</div>