<div id="dishes">
  <% @dishes.each do |dish| %>
  <div class="box">
    <div class="boxTitle">
      <h4><%= dish.name %></h4>
    </div>
      <%= link_to( image_tag(dish.image.url(:medium)), dish)%>
    <div class="boxMeta" text-align="justify">
     <p><%= dish.description %></p>
   </div>
    <%if dish.user == current_user %>
     <div class="boxCredits" text-align="justify">
       <p>Created by: <%= dish.user.username if dish.user %></td>
       </p> <!--Prevent error for Dishes that do not have users -->
      <div class="btn">
       <%= link_to edit_dish_path(dish) do %>
        <span class="glyphicon glyphicon-pencil"></span> Edit
       <% end %>
      </div>
      <div class="btn">
        <%= link_to dish, method: :delte, data: { confirm: 'Are you sure you want to delte this dish? You cannot undo this action.'} do %>
        <span class="glyphicon glyphicon-trash"></span> Delete
        <% end %>
      </div>
    </div>
    <% end %>
  </div>
  <% end %>
</div>