<div class="navbar-wrapper">
  <div class="container">
    <nav class="navbar navbar-inverse" role="navigation">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <%= link_to "Delishus", root_path, :class=>"navbar-brand"%>

          </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li>
              <%= link_to "About Us", about_path%>
            </li>
            <li>
              <%= link_to "Contact Us", contact_us_path%>
            </li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
              <% if user_signed_in? %>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">My Account<b class="caret"></b></a>
                  <ul class="dropdown-menu dropdown-menu-right">
                    <li><%=link_to "Account Settings", edit_user_registration_path, align: "right"%></li>
                      <li class="divider"></li>
                      <li><%=link_to "Log Out", destroy_user_session_path, method: :delete, align: "right" %></li>
                  </ul>
              <% elsif !user_signed_in? %>
                <li><%=link_to "Log In", new_user_session_path, align: "right" %></li>
              <% end %>
            </li><!-- /dropdown -->
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
  </nav>
  </div><!-- /.container -->
</div><!-- /.navbar-wrapper -->