<!DOCTYPE html>
<html>
<head>
	

  <title>FitSum</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <%- #Enable responsiveness on mobile devices -%>
  <meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body>
	<%= render 'layouts/header' unless @disable_navbar %>

  <!-- Check if primary container should be disabled to allow full-screen carousel -->
  <% if @disable_primary_container %>
    <%= yield %>	
  
  <% else %>
    <div class="container" >
      <%= yield %>
    </div>  

  <% end %>
  <%= render 'layouts/footer' %>
  <% flash.each do |name,msg| %>

    <!--Note that :abc=> is old Ruby syntax -->
    <%= content_tag(:div, msg, :class=> "alert alert-info") %>
  <% end %>

</body>
</html>
