<!DOCTYPE html>
<html>
<head>
	

  <title>Pinteresting</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <%- #Enable responsiveness on mobile devices -%>
  <meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body>
	<%= render 'layouts/header' %>
  <%= yield %>	
  <%= render 'layouts/footer' %>
  <% flash.each do |name,msg| %>

    <!--Note that :abc=> is old Ruby syntax -->
    <%= content_tag(:div, msg, :class=> "alert alert-info") %>
  <% end %>

</body>
</html>
