<!DOCTYPE html>
<html>
<head>
	

  <title>Delish.us</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <%- #Enable responsiveness on mobile devices -%>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%- #Add animate.css -%>
  <link rel="stylesheet" href="animate.min.css">

</head>

<body>
  	<%= render 'layouts/header' unless @disable_navbar %>
    <!-- Check if primary container should be disabled to allow full-screen carousel -->
    <% if @disable_primary_container %>
      <%= yield %>
    <% else %>
      <div class="container">
        <% flash.each do |name, msg| %>
          <%= content_tag(:div, msg, class: "alert alert-info") %>
        <% end %>
        <%= yield %>
      </div>  
    <% end %>
<!-- <%= render 'layouts/footer'%> -->
</body>
</html>
